.titulo_contacto {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    font-family: $font-family_1;
    font-weight: 700;
    font-size: xx-large;
}

.contacto_informacion {
    background-color: $background-color_1;
    padding: 1%;
    border-radius: 10px;
    display: inline-block;
    margin-left: 40%;
    flex-wrap: wrap;
    font-family: $font-family_1;
    font-size: 25px;
    font-weight: 300;
    transition: 1s;

    &:hover {
        transform: scale(1.2);
    }
}

.formulario {
    justify-content: center;
    margin-top: 2%;
    margin-left: 46%;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.redes {
    margin-top: 2%;
    margin-left: 49%;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.imagen_contacto {
    background-color: $background-color_1;
    background-size: cover;
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}