.titulo_promociones {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    font-family: $font-family_1;
    font-weight: 700;
    font-size: xx-large;
}

.promociones {
    padding: 35px;
    display: flex;
    gap: 40px;
}

.carousel-inner.promociones {
    background-size: cover;
    height: 60vh;
    width: 50%;
}

.promociones_imagenes {
    background-color: $background-color_2;
    border-radius: 10px;
    height: 60vh;
    max-width: 30%;
    flex: 1;
    margin-inline: 25px;
    align-items: center;
    flex-wrap: wrap;
}

.promociones_informacion {
    background-color: $background-color_1;
    padding: 10px;
    border-radius: 10px;
    display: flow-root;
    margin-inline: 10%;
    font-family: $font-family_1;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    transition: 1s;

    &:hover {
        transform: scale(1.2);
    }

}