.titulo_ubicacion {
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    font-family: $font-family_1;
    font-size: xx-large;
    font-weight: 700;
}

.ubicacion_mapa {
    width: 650px;
    margin-left: 30%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

.ubicacion_informacion {
    background-color: $background-color_1;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    margin-inline: 20px;
    margin-left: 20%;
    font-family: $font-family_1;
    font-size: 20px;
    margin-bottom: 5%;
    flex-wrap: wrap;
    transition: 1s;

    &:hover {
        transform: scale(1.2);
    }
}